In [18]:
from pathlib import Path
import pandas as pd
from data_common.pandas import GovLayers
from datetime import date

In [24]:
df

,PCON21CD,PCON21NM,LAD21CD,LAD21NM,percentage_overlap,local-authority-code,replaced-by,future-code
0,E14000624,Central Suffolk and North Ipswich,E07000202,Ipswich,0.010010,IPS,NaN,IPS
1,N06000007,Fermanagh and South Tyrone,N09000002,"Armagh City, Banbridge and Craigavon",0.010197,ABC,NaN,ABC
2,W07000054,Monmouth,W06000020,Torfaen,0.010370,TOF,NaN,TOF
3,E14000966,Staffordshire Moorlands,E07000195,Newcastle-under-Lyme,0.010847,NEC,NaN,NEC
4,N06000001,Belfast East,N09000011,Ards and North Down,0.011862,AND,NaN,AND
...,...,...,...,...,...,...,...,...
865,E14000752,Hornsey and Wood Green,E09000014,Haringey,1.000000,HRY,NaN,HRY
866,E14000720,Hackney North and Stoke Newington,E09000012,Hackney,1.000000,HCK,NaN,HCK
867,W07000076,Caerphilly,W06000018,Caerphilly,1.000000,CAY,NaN,CAY
868,E14000636,Chipping Barnet,E09000003,Barnet,1.000000,BNE,NaN,BNE
869,E14001039,Wigan,E08000010,Wigan,1.000000,WGN,NaN,WGN

In [30]:
df = pd.read_csv(
    Path("..", "data", "interim", "percentage_overlap_2023_councils_inc_higher.csv")
)
df

       PCON21CD local-authority-code  percentage_overlap
0     E14000530                  HAT            0.263189
1     E14000530                  RUH            0.736811
2     E14000531                  WLL            1.000000
3     E14000532                  TRF            1.000000
4     E14000533                  AMB            1.000000
...         ...                  ...                 ...
1272  E14001049                 WMCA            1.000000
1273  E14001050                 WMCA            1.000000
1274  E14001051                 WMCA            1.000000
1275  E14001054                 GMCA            1.000000
1276  E14001059                 GMCA            1.000000

[1277 rows x 3 columns]

In [31]:
df["local-authority-code"].nunique()

393